<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">DropTable</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('browse') }}">Browse library</a></li>
                <li><a href="{{ path('fos_user_profile_show')}}">Profile</a></li>
                <li><a href="{{ path('catalog.add_book') }}">Add a book</a></li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="{{ path("admin_list_users") }}">All users</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right fr" role="search" action="{# TODO: Add path. #}">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Search by title, authors..."/>
                </div>
            </form>
            <div class="fr logged-in">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    Logged in as {{ app.user.emailCanonical }}
                    |
                    <a href="{{ path('logout') }}">Logout</a>
                {% else %}
                    <div id="fb-root" style="display: inline-block"></div>
                    <a href="{{ path('fos_user_security_login') }}" class="popup" id="login-button">Login</a>
                    or
                    <a href="{{ path('fos_user_registration_register') }}" id="register-button">register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
