    <div class="col-md-12">
        <h3>Naujausios knygos</h3>
    </div>
</div>
<div class="row">
    {% for book in books %}
    <div class="col-md-3">
        <a href="{{ path('catalog.book', { 'slug': book.slug }) }}">
            <div class="book">
                    <img src="{{ book.thumbnailSmall|default('http://placehold.it/100x100') }}" alt=""/>
                <h4>
                    {{ book.title }}
                </h4>

                <h6>
                    [Autoriai]{#{{ book.authors }}#}
                </h6>
                <h6>
                    [Kategorijos]{#{{ book.categories }}#}<br/>
                </h6>

                <h6>
                    {{ book.pages }}
                </h6>
            </div>
        </a>
    </div>

    {% if ((loop.index % 4)==0) %}
        </div>
        <div class="row">
    {% endif %}

{% endfor %}