{% extends '@DropTableLibrary/Default/layout.html.twig' %}

{% block content %}
    <div class="col-md-3">
        <div class="image">
                <img src="{{ book.thumbnail|default(asset('bundles/droptablelibrary/img/uploads/placeholder-d.png')) }}" alt="{{ book.title }}"/>
        </div>
        <div class="category">
            {% for category in book.categories %}
                {{ category.name }}
            {% endfor %}
        </div>
        <div class="publisher">
            Išleido: {{ book.publisher.name }}
        </div>
        <div class="created-at">
            Added: {{ book.createdAt.date|date('Y m d') }}
        </div>
    </div>
    <div class="col-md-6">
        <h1 class="title">
            {{ book.title }}
        </h1>
        <div class="authors">
            {% for author in book.authors %}
                {{ author.name }}
            {% endfor %}
        </div>
        <div class="pages">
            {{ book.pages }}
            {% if (book.pages % 10) == 1 %}
                page
            {% else %}
                pages
            {% endif %}
        </div>
        <div class="description">
            {{ book.description }}
        </div>
        <div class="reserve-book">
            <a href="{{ path('reservation.reserve', { 'slug': book.slug }) }}"
               class="btn btn-default {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}disabled{% endif %}">
                Reserve book
            </a>
            {% for flashMessage in app.session.flashbag.get('reservation-result') %}
                {{ flashMessage }}
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                Knygą turi:
                <div class="owners-list">
                    {{ render(controller(
                        'DropTableLibraryBundle:Catalog:owners',
                        { 'slug': book.slug }
                    )) }}
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                Knygos laukia:
                <div class="waiting-list">
                    {{ render(controller(
                        'DropTableLibraryBundle:Reservation:reservations',
                        { 'slug': book.slug }
                    )) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}