{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    {# TODO: Needs review. #}
    <p>{{ 'profile.show.first_name'|trans }}: {{ user.getFirstName }}</p>
    {# TODO: Needs review. #}
    <p>{{ 'profile.show.last_name'|trans }}: {{ user.getLastName }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>